body{
	background-color: rgb(198,219,247);
}

div > div{
	padding: 1em; 
	border: 1px dashed blue; 
}

#header{
	display: flex;
	//float: right;
	text-align: center; 
	color: rgb(3,34,89);
	padding: 20px;
	padding-top: 20px; 
	//padding-left: 50px;
}

h1{
	margin: 10px;
}

#picture-grid{
	display: grid;
	//height: 500px;
	margin: 50px;
	grid-template-columns: 425px 425px 425px;
	grid-auto-rows: 100px; 
	width: 90%;
}

.one { 
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 1; 
  grid-row-end: 3; 
}

.two { 
  grid-column-start: 1; 
  grid-row-start: 3; 
  grid-row-end: 5; 
}